@page "/"
@inherits EmployeeListBase
<h3>EmployeeList count @SelectedEmployeesCount</h3>

<input type="checkbox" id="showFooter" @bind="Footer" />
@if (Employees == null)
{
    <div class="spinner"></div>
}
else{
<div class="card-deck" >
    @foreach (var employee in Employees)
    {
        <div class="d-inline-block">
      <DisplayEmployee employee="employee" ShowFooter="Footer" OnEmplyeeSelection="EmployeeSelectionChanged" ></DisplayEmployee>
      </div>
    }
</div>
}